@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.close{
    display: none;
}
body{
    background-color: black;
    color:white;
}


.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width:100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 25px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}
.footer a{
    color:grey;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}
.header>*{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist h1{
    padding: 16px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    overflow-y: auto;
    max-height: 60vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card:hover{
    background-color: black;
    cursor: pointer;
    --a:1;
}
.card>*{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 170px; 
    right: 17px;      
    opacity: var(--a);
    transform: translateY(10px);

    transition: 
        bottom 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}
.card:hover .play {
    bottom: 16px;
    opacity: 1;
    transform: translateY(0);
}
.buttons > *{
    margin:0 12px;
}
.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(212, 196, 196);
    font-weight: bold;
    border:none;
    outline:none;
    cursor: pointer;
    font-size: 15px;
}
.signupbtn:hover{
    font-size: 1.01rem;
    color:white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}
.loginbtn:hover{
    font-size: 1.01rem;
    font-weight: bolder;
    padding: 10px 15px;
}
.playbar{
    position: fixed;
    bottom: 10px;
    background-color: #dad3d5;
    width: 70vw;
    padding: 12px;
    filter:invert(1) ;
    border-radius: 30px;
    min-height: 30px;
}

.songbuttons{
    display: flex;
    justify-content:center;
    gap: 10px;
}
.songList ul{
    padding: 0px 12px;
    
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap:12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px 0;
    border-radius: 5px;
    word-break: break-word;
    justify-content: space-between;
}
.songList{
    height: 400px;
    overflow: auto;
    /* margin: 44px 0; */
}
.info {
    /* flex: 1;
    min-width: 0; */
    font-size: 13px;
    width: 344px;
}
.info div{
    word-break: break-all;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding:5px;
}
.seekbar{
    height: 2px;
    width: 98%;
    background-color:  black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
.songbuttons img{
    cursor: pointer;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songtime{
    width: 125px;
    color: black;
    padding: 0 12px;
}
.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}
.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
@media (max-width:1300px) {
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 373px;
        padding: 0;
    }

    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .songinfo , .songtime{
        width: auto;
    }
    .right{
        width: 100vw;
        margin: 0;
    }
    
    .playbar{
        width: calc(100vw - 110px);
        /* font-size: 10px; */
    }
    .seekbar{
        width: calc(100vw - 110px);
    }
    .hamburger{
        display: block;
    }
    .card{
        width: 45vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .close{
        display: block;
    }
    .abovebar{
        flex-direction: column;
        gap:23px;
        align-items: center;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}
@media (max-width:400px){
    .card{
        width: 80vw;
    }
}